main{
	margin: 100px auto;
	max-width: 450px;
	text-align: center;
}
main h1{
	color: #00ce02;
	font-size: 30px;
	font-weight: 100;
	cursor: default;
}
.input{
	width: 90%;
	padding: 15px;
	margin: 0 auto;
}
.input:focus{
	outline-color: #00ce02;
}
.btn{
	margin-top: 20px;
	padding: 15px;
	width: 90%;
	background-color: white;
	border: 1px solid #00ce02;
	border-radius: 20px;
	transition: all 0.2s;
}
.btn:hover{
	cursor: pointer;
	background-color: #00ce02;
	color: white;
}
@media (max-width: 730px){
	nav h1{
		display: none;
	}
	main{
		width: 90%;
	}
}